<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title> Verify OTP </title>
</head>
<body>

	<!-- This is for spring security login page -->
	
	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 240px;" class="col-md-12 ">
                    
                       <!--  email form -->
                       <div class="alert alert-success m-3" role="alert">
							OTP sent to your mail successfully	
						</div>
                       
                       <div th:if="${session.message}" class="container text-center">
							<div class="alert alert-danger"  role="alert">
							 	<span th:text="${session.message}"></span>
							</div>
							
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					   </div>
						
                       <form th:action="@{/verify-otp}" method="POST">
                       		<div class="form-group mx-3">
                       			<input type="number" name="otp" required placeholder="Enter OTP here.." class="form-control" />
                       		</div>
                       		
                       		<div class="container text-center my-3">
                       			<button class="btn btn-success"> Verify OTP </button>
                       		</div>
                       </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

</body>
</html>